spring:
  application:
    name: comrades
  liquibase:
    changeLog: "classpath:db/migration/change-log.json"
  flyway:
    baseline-on-migrate: true

  datasource:
    driver-class-name: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://localhost:5432/comrades?schema=public
    username: postgres
    password: qwe123

server:
  port: 8090

#management:
#  endpoints:
#    web:
#      base-path: /rest/actuator
#      exposure:
#        include: '*'


springdoc:
  version: '@springdoc.version@'
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    display-request-duration: true
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
  show-actuator: false
  group-configs:
    - group: stores
      paths-to-match: /**
